

<!DOCTYPE html>
<html>
   <head>
      <title>Hello world</title>
   </head>
   <script src = "/socket.io/socket.io.js"></script>
        
   
   <script>
       
      socket = io();
      
   </script>
   <body>
       <h1> Home page<h1>
        <div><%= content %></div>    
   </body>
</html>